.analyticspage-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
   
  .analyticspage-text10 {
    display: inline-block;
  }
   
  .analyticspage-text11 {
    display: inline-block;
  }
   
  .analyticspage-text12 {
    display: inline-block;
  }
   
  .analyticspage-text13 {
    display: inline-block;
  }
   
  .analyticspage-text14 {
    display: inline-block;
  }
   
  .analyticspage-text15 {
    display: inline-block;
  }
   
  .analyticspage-text16 {
    display: inline-block;
  }
   
  .analyticspage-text17 {
    display: inline-block;
  }
   
  .analyticspage-text18 {
    display: inline-block;
  }
   
  .analyticspage-text19 {
    font-weight: 700;
  }
   
  .analyticspage-text25 {
    font-weight: 700;
  }
   
  .analyticspage-text30 {
    font-weight: 700;
  }
   
  .analyticspage-text35 {
    font-weight: 700;
  }
   
  .analyticspage-text40 {
    font-weight: 700;
  }
   
  .analyticspage-text47 {
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
  }
   
  .analyticspage-text48 {
    display: inline-block;
  }
   
  .analyticspage-text49 {
    display: inline-block;
  }
   
  .analyticspage-text50 {
    display: inline-block;
  }
   
  .analyticspage-text51 {
    display: inline-block;
  }
   
  .analyticspage-text52 {
    display: inline-block;
  }
   
  .analyticspage-text53 {
    display: inline-block;
  }
   
  .analyticspage-text54 {
    display: inline-block;
  }
   
  .analyticspage-text55 {
    display: inline-block;
  }
   
  .analyticspage-text56 {
    display: inline-block;
  }
   
  .analyticspage-text57 {
    display: inline-block;
  }
   
  .analyticspage-text58 {
    display: inline-block;
  }
   
  .analyticspage-text59 {
    display: inline-block;
  }
   
  .analyticspage-text60 {
    display: inline-block;
  }
   
  .analyticspage-text61 {
    display: inline-block;
  }
   
  .analyticspage-text62 {
    display: inline-block;
  }
   
  .analyticspage-text63 {
    display: inline-block;
  }
   
  .analyticspage-text64 {
    display: inline-block;
  }
   
  .analyticspage-text65 {
    display: inline-block;
  }
   
  .analyticspage-text66 {
    display: inline-block;
  }