.page-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
   
  .page-text10 {
    display: inline-block;
  }
   
  .page-text14 {
    display: inline-block;
  }
   
  .page-text15 {
    display: inline-block;
  }
   
  .page-text16 {
    display: inline-block;
  }
   
  .page-text17 {
    display: inline-block;
  }
   
  .page-text18 {
    display: inline-block;
  }
   
  .page-text19 {
    display: inline-block;
  }
   
  .page-text20 {
    display: inline-block;
  }
   
  .page-text21 {
    display: inline-block;
  }